<div class="hero-text-box">
	<h1>Ordering food</h1>
	<h3>Goodbye hunger sensation <br> Hello super tasty meals.</h3>
</div>
<section class="dropdowns">
	<div class="container-fluid">
		<div class="row">
			<div class="dropdown" style="display: inline-block;">
				<button class="btn btn-light dropdown-toggle btn-assigment" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Category
				  </button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li><a class="dropdown-item" href="#">All products</a></li>
					<li><a class="dropdown-item" href="#">Entrees</a></li>
					<li><a class="dropdown-item" href="#">Second Courses</a></li>
					<li><a class="dropdown-item" href="#">Salads</a></li>
				</ul>
			</div>
			<div class="dropdown" style="display: inline-block;">
				<button class="btn btn-light dropdown-toggle btn-assigment" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sorting
				  </button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li><a class="dropdown-item" href="#">Price</a></li>
					<li><a class="dropdown-item" href="#">Random</a></li>
				</div>
			</div>
			<div class="dropdown" style="display: inline-block;">
				<button class="btn btn-light dropdown-toggle btn-assigment" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Vegetarian
				  </button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li><a class="dropdown-item" href="#">All products</a></li>
					<li><a class="dropdown-item" href="#">Vegetarian products</a></li>
					<li><a class="dropdown-item" href="#">Non-Vegeterian products</a></li>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="food">
	<div class="container-fluid">
		<div class="row">
			<ul class="food-box">
				<li data-toggle="modal" data-target="#Modal1" class="col-sm-3">
					<figure class="food-photo img-thumbnail">
            <%= image_tag("1.jpg", alt: "Korean bibimbap with egg and vegetables", class: 'img-responsive') %>
						<h6>Korean bibimbap with egg and vegetables</h6>
						<p>Second courses</p>
						<p class="food-price">$15.00</p>
					</figure>
				</li>
				<div class="modal fade bd-example-modal-lg" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Korean bibimbap with egg and vegetables</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row-modal">
										<ul>
											<li>
												<div class="col-sm-10">
                          <%= image_tag("1.jpg", alt: "Korean bibimbap with egg and vegetables", class: "img-responsive") %>
												</div>
											</li>
											<li>
												<div class="col-sm-12">
													<p class="p-modal">Koreans believe it heals the body, releases energy and keeps illness away through the winter. "We say it's 'Everything in a spoon!'"</p>
												</div>
												<ul>
													<li>
														<label for="order-quantity">Quantity?</label>
													</li>
													<li>
														<select name="order-quantity" id="order-quantity">
															<option value="1" selected>1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn add-to-cart" data-name="Korean bibimbap" data-price="15.00">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<li data-toggle="modal" data-target="#Modal2" class="col-sm-3">
					<figure class="food-photo  img-thumbnail">
            <%= image_tag("2.jpg", alt: "Simple italian pizza with cherry tomatoes", class: "img-responsive") %>
						<h6>Simple italian pizza with cherry tomatoes</h6>
						<p>Second courses</p>
						<p class="food-price">$13.00</p>
					</figure>
				</li>
				<div class="modal fade bd-example-modal-lg" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Simple italian pizza with cherry tomatoes</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row-modal">
										<ul>
											<li>
												<div class="col-sm-10">
                          <%= image_tag("2.jpg", alt: "Simple italian pizza with cherry tomatoes", class: "img-responsive") %>
												</div>
											</li>
											<li>
												<div class="col-sm-12">
													<p class="p-modal">A variety of fresh tomatoes and herbs top this homemade Tomato-Ricotta Pizza, adding colorful appeal as well fresh flavor.</p>
												</div>
												<ul>
													<li>
														<label for="order-quantity">Quantity?</label>
													</li>
													<li>
														<select name="order-quantity" id="order-quantity">
															<option value="1" selected>1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn add-to-cart" data-name="Simple italian pizza" data-price="13.00">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<li data-toggle="modal" data-target="#Modal3" class="col-sm-3">
					<figure class="food-photo  img-thumbnail">
            <%= image_tag("3.jpg", alt: "Chicken breast steak with vegetables", class: "img-responsive") %>
						<h6>Chicken breast steak with vegetables</h6>
						<p>Second courses</p>
						<p class="food-price">$16.00</p>
					</figure>
				</li>
				<div class="modal fade bd-example-modal-lg" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Chicken breast steak with vegetables</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row-modal">
										<ul>
											<li>
												<div class="col-sm-10">
                          <%= image_tag("3.jpg", alt: "Chicken breast steak with vegetables", class: "img-responsive") %>
												</div>
											</li>
											<li>
												<div class="col-sm-12">
													<p class="p-modal">Marinated to burst with flavour, chicken pieces are sizzled on a pan till they're cooked just right.</p>
												</div>
												<ul>
													<li>
														<label for="order-quantity">Quantity?</label>
													</li>
													<li>
														<select name="order-quantity" id="order-quantity">
															<option value="1" selected>1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn add-to-cart" data-name="Chicken breast steak" data-price="16.00">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<li data-toggle="modal" data-target="#Modal4" class="col-sm-3">
					<figure class="food-photo  img-thumbnail">
            <%= image_tag("4.jpg", alt: "Autumn pumpkin soup", class: "img-responsive") %>
						<h6>Autumn pumpkin soup</h6>
						<p>Entrees</p>
						<p class="food-price">$10.00</p>
					</figure>
				</li>
				<div class="modal fade bd-example-modal-lg" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Autumn pumpkin soup</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row-modal">
										<ul>
											<li>
												<div class="col-sm-10">
                          <%= image_tag("4.jpg", alt: "Autumn pumpkin soup", class: "img-responsive") %>
												</div>
											</li>
											<li>
												<div class="col-sm-12">
													<p class="p-modal">Description</p>
												</div>
												<ul>
													<li>
														<label for="order-quantity">Quantity?</label>
													</li>
													<li>
														<select name="order-quantity" id="order-quantity">
															<option value="1" selected>1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn add-to-cart" data-name="Autumn pumpkin soup" data-price="10.00">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</ul>
			<ul class="food-box">
				<li data-toggle="modal" data-target="#Modal5" class="col-sm-3">
					<figure class="food-photo  img-thumbnail">
            <%= image_tag("5.jpg", alt: "Paleo beef steak with vegetables", class: "img-responsive") %>
						<h6>Paleo beef steak with vegetables</h6>
						<p>Second courses</p>
						<p class="food-price">$35.00</p>
					</figure>
				</li>
				<div class="modal fade bd-example-modal-lg" id="Modal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Paleo beef steak with vegetables</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row-modal">
										<ul>
											<li>
												<div class="col-sm-10">
                          <%= image_tag("5.jpg", alt: "Paleo beef steak with vegetables", class: "img-responsive") %>
												</div>
											</li>
											<li>
												<div class="col-sm-12">
													<p class="p-modal">Koreans believe it heals the body, releases energy and keeps illness away through the winter. "We say it's 'Everything in a spoon!'"</p>
												</div>
												<ul>
													<li>
														<label for="order-quantity">Quantity?</label>
													</li>
													<li>
														<select name="order-quantity" id="order-quantity">
															<option value="1" selected>1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn add-to-cart" data-name="Paleo beef steak" data-price="35.00">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<li data-toggle="modal" data-target="#Modal6" class="col-sm-3">
					<figure class="food-photo  img-thumbnail">
            <%= image_tag("6.jpg", alt: "Healthy baguette with egg and vegetables", class: "img-responsive") %>
						<h6>Healthy baguette with egg and vegetables</h6>
						<p>Entrees</p>
						<p class="food-price">$9.00</p>
					</figure>
				</li>
				<div class="modal fade bd-example-modal-lg" id="Modal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Healthy baguette with egg and vegetables</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row-modal">
										<ul>
											<li>
												<div class="col-sm-10">
                          <%= image_tag("6.jpg", alt: "Healthy baguette with egg and vegetables", class: "img-responsive") %>
												</div>
											</li>
											<li>
												<div class="col-sm-12">
													<p class="p-modal">Koreans believe it heals the body, releases energy and keeps illness away through the winter. "We say it's 'Everything in a spoon!'"</p>
												</div>
												<ul>
													<li>
														<label for="order-quantity">Quantity?</label>
													</li>
													<li>
														<select name="order-quantity" id="order-quantity">
															<option value="1" selected>1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn add-to-cart" data-name="Healthy baguette" data-price="9.00">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<li data-toggle="modal" data-target="#Modal7" class="col-sm-3">
					<figure class="food-photo img-thumbnail">
            <%= image_tag("7.jpg", alt: "Burger with cheddar and bacon", class: "img-responsive") %>
						<h6>Burger with cheddar and bacon</h6>
						<p>Second courses</p>
						<p class="food-price">$13.00</p>
					</figure>
				</li>
				<div class="modal fade bd-example-modal-lg" id="Modal7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Burger with cheddar and bacon</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row-modal">
										<ul>
											<li>
												<div class="col-sm-10">
                          <%= image_tag("7.jpg", alt: "Burger with cheddar and bacon", class: "img-responsive") %>
												</div>
											</li>
											<li>
												<div class="col-sm-12">
													<p class="p-modal">Koreans believe it heals the body, releases energy and keeps illness away through the winter. "We say it's 'Everything in a spoon!'"</p>
												</div>
												<ul>
													<li>
														<label for="order-quantity">Quantity?</label>
													</li>
													<li>
														<select name="order-quantity" id="order-quantity">
															<option value="1" selected>1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn add-to-cart" data-name="Burger with cheddar and bacon" data-price="13.00">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
				<li data-toggle="modal" data-target="#Modal8" class="col-sm-3">
					<figure class="food-photo img-thumbnail">
            <%= image_tag("8.jpg", alt: "Granola with cherries and strawberries", class: "img-responsive") %>
						<h6>Granola with cherries and strawberries</h6>
						<p>Salads</p>
						<p class="food-price">$8.00</p>
					</figure>
				</li>
				<div class="modal fade bd-example-modal-lg" id="Modal8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Granola with cherries and strawberries</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container-fluid">
									<div class="row-modal">
										<ul>
											<li>
												<div class="col-sm-10">
                          <%= image_tag("8.jpg", alt: "Granola with cherries and strawberries", class: "img-responsive") %>
												</div>
											</li>
											<li>
												<div class="col-sm-12">
													<p class="p-modal">Koreans believe it heals the body, releases energy and keeps illness away through the winter. "We say it's 'Everything in a spoon!'"</p>
												</div>
												<ul>
													<li>
														<label for="order-quantity">Quantity?</label>
													</li>
													<li>
														<select name="order-quantity" id="order-quantity">
															<option value="1" selected>1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn add-to-cart" data-name="Granola" data-price="8.00">Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</ul>
		</div>
	</div>
</section>

<div class="modal fade modal-dashboard" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-dashboard">
		<div class="modal-content modal-content-dashboard">
			<div class="row justify-content-end">
				<button type="button" class="close close-dashboard" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- <section class="dashboard">
				<div class="container-fluid">
					<div class="row">
						<table>
							<thead>
								<tr>
									<th>Position</th>
									<th>Product</th>
									<th>Count</th>
									<th>Price / 1 Product ($)</th>
									<th>Total / Product ($)</th>
									<th> </th>
								</tr>
							</thead>
							<tbody id="show-cart">

							</tbody>
						</table>
						<div class="table-footer">
							<button id="clear-cart">Clear Cart</button>
							<div class="total">Total Cart: $ <span id="total-cart"></span></div>
						</div>
					</div>
				</div>
			</section> -->
		</div>
	</div>
</div>

<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<ul class="footer-nav">
					<li><a href="#">About us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Press</a></li>
					<li><a href="#">iOS App</a></li>
					<li><a href="#">Android App</a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<ul class="social-links">
					<li><a href="#"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
					<li><a href="#"><i class="ion-social-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row justify-content-center">
			<p>Copyright &copy; 2017 by Omnifood. All rights reserved.</p>
		</div>
	</div>
</footer>
